table,th,tr,td{border : 1px solid black;border-collapse: collapse;text-align : center}
.width-full{width : 100%}
.height-full{height : 500px}
.margin-auto{magin : 0 auto}
.width-30{width : 30% }
/* main */
#background{background-color : #ffb3b3; color : black;}
/* user_login */
#user-login-layout{margin:0 auto;width :250px}
#user-login-form{border:1px solid black}
#background{background-color : #ffb3b3; color : black;}
/*my page*/
table,th,tr,td{border : 1px solid black;border-collapse: collapse;text-align : center}
#background{background-color : #ffb3b3;color : black;}
.width-full{width : 100%}
.height-full{height : 500px}
.margin-auto{magin : 0 auto}
.width-30{width : 30% }
.height-100{height : 100px}
/* joinForm */